resources/classpath/schema/shibboleth-2.0-idp-profile-handler.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema targetNamespace="urn:mace:shibboleth:2.0:idp:profile-handler" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:mace:shibboleth:2.0:idp:profile-handler" xmlns:service="urn:mace:shibboleth:2.0:services"
    elementFormDefault="qualified">

    <xsd:include schemaLocation="classpath:/schema/shibboleth-2.0-profile-handler.xsd" />

    <xsd:import namespace="urn:mace:shibboleth:2.0:services"
        schemaLocation="classpath:/schema/shibboleth-2.0-services.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            This schema specifies the configuration options for Shibboleth IdP profile handlers.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="IdPProfileHandlerManager">
        <xsd:annotation>
            <xsd:documentation>Definition for the basic Shibboleth profile handler manager service.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="service:ReloadableServiceType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ProfileHandlerGroup">
        <xsd:annotation>
            <xsd:documentation>Root of a profile handler configuration file.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ErrorHandler" type="ErrorHandlerType" />
                <xsd:element name="ProfileHandler" type="RequestHandlerType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="AuthenticationHandler" type="AuthenticationHandlerType" minOccurs="0"
                    maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Status">
        <xsd:annotation>
            <xsd:documentation>Basic handler that returns a general status of the IdP.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="RequestURIMappedProfileHandlerType" />
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SAML2SSO">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 SSO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="authenticationManagerPath" type="xsd:string" default="/AuthnEngine">
                    <xsd:annotation>
                        <xsd:documentation>
                            The context relative path to the authentication manager used by this profile handler. This
                            should match the URL pattern given in the web.xml
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="decodingBinding" type="xsd:anyURI"
                    default="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">
                    <xsd:annotation>
                        <xsd:documentation>
                            The URI of the binding used when decoding requests from relying parties.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="securityPolicyFactoryId" type="xsd:string"
                    default="shibboleth.SAML2SSOMessageSecurityPolicyFactory">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of the security policy factory to use with the profile handler.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundBindingEnumeration" default="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">
                    <xsd:annotation>
                        <xsd:documentation>
                            An ordered list of outbound bindings supported by this profile handler.  The order
                            provided establishs the precedence given the bindings such that, from the left to right, 
                            the first binding also supported by the relying party will be used.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:list itemType="xsd:anyURI"/>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2AttributeQuery">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 Attribute Query profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="securityPolicyFactoryId" type="xsd:string"
                    default="shibboleth.SAML2AttributeQueryMessageSecurityPolicyFactory">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of the security policy factory to use with the profile handler.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2ProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for SAML 2 profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAMLProfileHandler" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ShibbolethSSO">
        <xsd:annotation>
            <xsd:documentation>Configuration type for Shibboleth 1 SSO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML1ProfileHandler">
                <xsd:attribute name="authenticationManagerPath" type="xsd:string" default="/AuthnEngine">
                    <xsd:annotation>
                        <xsd:documentation>
                            The context relative path to the authentication manager used by this profile handler. This
                            should match the URL pattern given in the web.xml
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundBindingEnumeration" default="urn:oasis:names:tc:SAML:1.0:profiles:browser-post">
                    <xsd:annotation>
                        <xsd:documentation>
                            An ordered list of outbound bindings supported by this profile handler.  The order
                            provided establishs the precedence given the bindings such that, from the left to right, 
                            the first binding also supported by the relying party will be used.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:list itemType="xsd:anyURI"/>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SAML1AttributeQuery">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 1 Attribute Query profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML1ProfileHandler">
                <xsd:attribute name="securityPolicyFactoryId" type="xsd:string"
                    default="shibboleth.SAML1AttributeQueryMessageSecurityPolicyFactory">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of the security policy factory to use with the profile handler.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML1ProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for SAML 1 profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAMLProfileHandler" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAMLProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for Shibboleth IdP SAML profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdPProfileHandlerType">
                <xsd:attribute name="messageDecoderFactoryId" type="xsd:string"
                    default="shibboleth.MessageDecoderFactory">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of the message decoder to use with the profile handler.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="messageEncoderFactoryId" type="xsd:string"
                    default="shibboleth.MessageEncoderFactory">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of the message encoder to use with the profile handler.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="idGeneratorId" type="xsd:string" default="shibboleth.IdGenerator">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of a generator used to generated things like response and assertion IDs.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IdPProfileHandlerType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for IdP profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ShibbolethProfileHandlerType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RemoteUser">
        <xsd:complexContent>
            <xsd:extension base="AuthenticationHandlerType">
                <xsd:attribute name="protectedServletPath" type="xsd:string" default="/Authn/RemoteUser">
                    <xsd:annotation>
                        <xsd:documentation>
                            The servlet context path to the
                            edu.internet2.middleware.shibboleth.idp.authn.provider.RemoteUserAuthServlet instance
                            protected by the container or web server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AuthenticationHandlerType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for authentication handler types.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AuthenticationMethod" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        The authentication methods supported by this handler. In SAML these methods represent the SAML 2
                        authentication contexts class and declaration reference URIs.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="authenticationDuration" type="xsd:positiveInteger" default="30">
            <xsd:annotation>
                <xsd:documentation>
                    The length of time, in minutes, that an authentication performed by this handler should be
                    considered active. After which time a user, previously authenticated by this handler, must
                    re-authenticate in order to assert the authentication method again.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>